*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
    body{
        font-family: montserrat;    
        
    }
    nav{
        height: 80px;
        width: 100%;
        background: #e4e81a;
    }
        
    
    .logo{
        width: 100%;
    }
    nav ul{
float: right;
margin-right: 20px;
    }
    nav li{
        display: inline-block;
        margin: 0 8px;
        line-height: 60px;
    }
    nav a{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px;
        border-radius: 3px;
    }
    a.actve,a:hover{
        border: 1px solid rgb(13, 44, 115);
        transition: .5s;
    }
    .nav-links{
        color: white;
        font-size: 30px;
        line-height: 80px; 
        float: right;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    @media (max-width:300px){
        nav{
            width: 100%;
        }
        .container2{
            width: 100%;
        }
    }
    @media (max-width: 300px) {
.nav-links{
            font-size: 32px;
            padding-left: 60px;
            
        }
        nav ul{
            margin-right: 20px;
        }
        nav a{
font-size: 17px;
        }
        /* nav{
            width: 100%;
        } */
    }
    @media (max-width: 310px) {
.nav-links{
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c77e10;
    /* top: 80px; */ top: 1000rem;
    left: -20%;
    text-align: center;
    transition: all .5s;
}
.nav-links :active{
    top: 0.5rem;
}
.fa-bars{
display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #dc8f37;
    top: 80px;
    left: -20%;
    text-align: center;
    transition: all .5s;
}
nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav a{
    font-size: 20px;
}
a.active,a:hover{
     border: none;
    color: #24be4b; 
}
nav ul .showMenu{
left: 0;
display: block;
}
}

   
.container2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();
    background-size: cover;
    background-position: center;
    color: #fff;
    height: calc(100vh - 50px); 
}
.container2 h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
.container2 p{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.content{
    display: flex;
    justify-content: space-around;
    background: #b2c9c7;
}

.content h1{
    
    font-size: 20px;
    color: rgb(7, 7, 7);
    margin-left: 10px;
    padding-left: 20px;
    

}
.red-btn{
    font-size: 20px;
    border: 1px solid #f44336;
    background: transparent;
    
    margin-left: 45%;
}
.red-btn:hover{
   background-color:  yellow; 
    color: #f44336;
}
.content h4{
color: rgb(13, 11, 11);
    font-size: 20px;
    margin-left: 10px;
    padding-left: 20px;

}
.image1{
margin-top: 20px;
}
.V{
    background-color: rgb(198, 215, 213);
}
.Q{
    text-align: center;
}
.W{
    display: flex;
    justify-content: center;
}
.row{
    border: 0;
    padding: 100px;
}
.D p{
    align-items: center;
    margin-left: 45%;
}
.content1 h2{
    font-size: 40px;
    text-align: center;
}
.carousel-inner img{
    width: 100px;
}
.content2{
    text-align: center;
    
}
.card-body h1{
    text-align: center;
    font-size: 50px;
    color: red;
}
.card-body p{
    font-size: 20px;
}
.card-img-top img :hover{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}
.const{
    background: #d9e5e4;
}
.card-img-top:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 3;
}
.content3{
    display: flex;
    justify-content:;
}
.content3 img{
    width: 100%;
    margin-left: 40px;
}
.content3 h1{
    font-size: 35px;
    margin-bottom: 40px;
    margin-left: 70px;
}
.content3 h5{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 70px;
}
.container{
display: flex;
justify-content: space-between;
margin-right: 10px;
padding-left: 10px;
}
.date h3{
    font-size: 25px;
}
.date p{
    font-size: 20px;
}
.S h2{
    align-items: center;
    text-align: center;
}
.content4{
    text-align: center;
     width: 60%;
    margin-left: 20%; 
}
.travail{
    background: #e4e81a;
    padding-bottom: 20px;
}
.L{
    text-align: center;
}
.h{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%; 

}
.accueil{
    margin-left: 20px;
}
.D{
    text-align: center;
    
}
.D p{
    margin-left: 10px;
    font-size: 20px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer :hover{
    background: blue;
}
